customization
experimental
oldanego
conf.inc.php
files/*
!files/.htaccess
!files/content/.htaccess
styles/*
!styles/default
!styles/anego
!styles/anego2
styles/anego/templates_c/*
tmp/*
var/*
!var/.htaccess