/******** Gallery module admin interface *******/


div.galleryEditor {
	padding: 5px;
	padding-left: 0px;
	padding-top: 0px;
}

div.galleryEditor .links {
	padding-bottom: 5px;
	text-align: left;
}


.galleryEditor .pic {
	/*width: 170px;
	height: 130px;*/
	float: left;
	position: relative;
	text-align: center;
}

.galleryEditor .pic img {
	/*border:3px solid #fff;*/
	padding: 0px;
	box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
}

.galleryEditor .imageHolder{
	display: inline-block;
	position: relative;
}

.galleryEditor .uploading {
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: white;
	opacity: 0.8;
	display: none;
}

.galleryEditor .pic.done .uploading {
	display: block;
}

.galleryEditor .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	/*width:100%;*/
	left: 6px;
	right: 6px;
	bottom: 6px;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

.galleryEditor .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

.galleryEditor .pic.done .progress{
	width:100% !important;
}


.editArea {
	padding: 8px;
	padding-top: 0;
}

.editArea .imageContainer {
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}

.editArea .originalImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	padding: 0;
}

.editArea img.original {
	padding: 0;
}

/******** Page editing *******/


hr#insertMarker {
	background-color:transparent;
	width:100%;
	height:10px;
	border:1px dashed red;
}

.miniToolbar {
	width: 87px;
	height: 20px;
	z-index: 10;
	background-image:url(img/blueAlpha.png);
	padding: 2px;
	padding-bottom: 4px;
	border: 1px dashed #6B77EB;
	position: absolute;
}

.miniToolbar img {
	margin-left: 2px;
	margin-right: 4px;
}

.moduleIcon {
	float:left;
	margin-left:7px;
	margin-right:7px;
	text-align:center;
}

.moduleIcon:hover img {
	-webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.3);
}

.ceTemplate {
	width:61px;
	height: 44px;
	z-index:1000;
	display:inline-block;
}

.ceTemplate img {
	border:1px solid gray;
	margin:0;
	padding:0;
	background-color: #F6F8FE;
}

.draggableList .ceDraggable {
}

.ceDraggable {
	min-height:16px;
}

.contentElement.ceDragged {
	background-color:#F5F5F5;
}

.ceDragged {
	background-color: #F6F8FE;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.3);
}

.ceEditing {
	background-color:#F5F5F5;
	color:#4B4A4A;
	padding: 3px;
	border:1px solid #C1C3C6;
}

.ceEditing hr {
	border-color:#C1C3C6;
	background-color:#C1C3C6;
	height:0px;
}

.layoutDlgcontent {
	padding: 5px;
}

.layoutDlgcontent input[name^="padding"] {
	width: 20px;
}

/******** Menu manager *******/


/* Drag&Drop tree */
.iconDrop {
	width:16px;
	height:18px;
	background-repeat:no-repeat;
	vertical-align:middle;
}
.iconDropAdd {
	background-image:url(img/drop-add.gif);
}
.iconDropOver {
	background-image:url(img/drop-over.gif);
}
.iconDropUnder {
	background-image:url(img/drop-under.gif);
}
.iconDropBetween {
	background-image:url(img/drop-between.gif);
}
.iconDropNo {
	background-image:url(img/drop-no.gif);
}

.treeDiv {
	float:left;
	padding-right:40px;
}

.innertreeDiv {
	border:1px solid gray;
	border-radius: 3px;
	padding:10px;
	padding-left:20px;
	background-color:#EEE;
	min-height:100px;
	min-width:150px;
}

.menuTree {
	padding-left:0px;
	margin:0;
	padding-top: 5px;
	padding-bottom: 1px;
}

.menuTree li { 
	padding:0px;
	list-style-type:none;
	cursor:url(img/grab.cur),move;
	line-height:100%;
	list-style-image: none;
}

.menuTree .listImg {
	padding: 0px;
	width: 16px;
	height: 22px;
	background-image:url(img/elbow.gif);
	background-repeat:no-repeat;
	vertical-align:middle;
}

.menuTree .last {
	background-image:url(img/elbow-end.gif);
}

.menuTree .listEl {
	padding-left:2px;
	padding-right:2px;
}

.menuTree .listEl:before {
	content:url(img/page_white.png);
	padding-right:5px;
}

.menuTree .listEl:hover, .menuTree .insertIn {
	background-color:#DDD;
	border:1px solid gray;
	border-radius: 3px;
	padding:1px;
}

.insertAbove {
	border-top:1px dashed gray;
	padding-top:0px;
}

.menuTree.insertAbove {
	padding-top:4px;
}

.insertBelow {
	border-bottom:1px dashed gray;
	padding-bottom:0px;
}

.dragger {
	z-index:999;
	background-color:#DDD;
	border:1px solid gray;
	border-radius: 3px;
	padding:1px;
	position:fixed;
}

.draggedElement {
	/* Rotate div */
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
	
	/* Also drop shadow */
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
}

.shadowElement {
	background-color: gray;
	border-radius: 3px;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	
	/* Inset shadow */
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
	box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.7);
}


/******** Setttings *******/


/* Simple Tabs for Settings page */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none !important;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tabs li:first-child {
	border-left: 1px solid #999;
}

ul.tabs li:first-child, ul.tabs li:first-child a {
    -moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
}

ul.tabs li:last-child, ul.tabs li:last-child a {
    -moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.0em;
    font-weight: bold;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

ul.tabs li:hover {
	background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
}

.tab_container {
	/*border: 1px solid #999;*/
	border-top: none;
	clear: both;
	background: #F0F0F0;
    -moz-border-radius-bottomleft: 12px;
	border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-right-radius: 12px;
}

.tab_content {
	padding: 20px;
	/*font-size: 1.2em;*/
}

.rightfloat {
	float: right;
}