body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

/**** TinyMCE classses *****/
.grayframe {
	padding: 3px;
	border: 1px solid #DDD;
	margin: 3px;
}

.smallpadright {
	padding-right: 5px;
}

.smallpadleft {
	padding-left: 5px;
}

/**** Blog *****/

.blog {
	width: 84%;
	float: left;
}

.blogNaviBox {
	float: right;
	background-color: #E9ECDF;
	width: 14%;
	border-radius: 8px;
	margin-left: 2%;
}

.blogNavigation {
	padding: 5px;
}


/**** Icons *****/

.loadingIcon {
	width:16px;
	height:20px;
	vertical-align:text-bottom;
	background-image:url(img/progress_active.gif);
	background-repeat:no-repeat;
}

.icon {
	cursor:pointer;
	width:23px;
	height:23px;
	background-repeat:no-repeat;
	padding:0px;
}

.grabCursor {
	cursor:url(img/grab.cur),move;
}

.smallIcon {
	padding:0px;
	cursor:pointer;
	width:16px;
	height:16px;
	background-repeat:no-repeat;
}

.smallimgBin {
	background-image:url(img/small_empty_trash.png);
}
.smallimgBin:hover {
	background-image:url(img/small_full_trash.png);
}
.smallimgPencil {
	background-image:url(img/small_pencil.png);
}
.smallimgPencil:hover {
	background-image:url(img/small_pencil_hover.png);
}

.imgBin {
	background-image:url(img/del.png);
}

.imgBin:hover {
	background-image:url(img/del_hover.png);
}

.imgEdit {
	background-image:url(img/pencil.png);
}

.imgEdit:hover {
	background-image:url(img/pencil_hover.png);
}

hr#insertMarker {
	background-color:transparent;
	width:100%;
	height:10px;
	border:1px dashed red;
}

/****** Admin Elements ******/
div#editpage {
	position:absolute;
	right:8px;
	top:10px;
	padding-left:50%;
}
.loginTitle {
	border:1px solid gray;
	width:220px; 
	padding:10px;
	padding-top:2px;
	padding-bottom:2px;
	text-align:center;
}
.loginBox {
	text-align:left; 
	width:220px; 
	padding:10px; 
	margin-top:20px; 
	border:1px solid gray;
}
.loginBox input[type="text"], .loginBox input[type="password"] {
	width:150px;
}
.loginBox input[type="checkbox"] {
	margin-top:10px;
	margin-left:0px;
}
img.adp {
	vertical-align:text-top;
	padding:0px;
}

.bothclear {
	clear:both;
}

/* Drag&Drop tree */
.iconDrop {
	width:16px;
	height:18px;
	background-repeat:no-repeat;
	vertical-align:middle;
}
.iconDropAdd {
	background-image:url(img/drop-add.gif);
}
.iconDropOver {
	background-image:url(img/drop-over.gif);
}
.iconDropUnder {
	background-image:url(img/drop-under.gif);
}
.iconDropBetween {
	background-image:url(img/drop-between.gif);
}
.iconDropNo {
	background-image:url(img/drop-no.gif);
}

.treeDiv {
	float:left;
	padding-right:40px;
}

.innertreeDiv {
	border:1px solid gray;
	padding:10px;
	padding-left:20px;
	background-color:#EEE;
	min-height:100px;
	min-width:150px;
}

.menuTree {
	padding-left:0px;
	margin:0;
}

.menuTree li { 
	padding:0px;
	list-style-type:none;
	cursor:url(img/grab.cur),move;
	line-height:100%;
}

.menuTree .listImg {
	width:16px;
	height:22px;
	background-image:url(img/elbow.gif);
	background-repeat:no-repeat;
	vertical-align:middle;
}

.menuTree .last {
	background-image:url(img/elbow-end.gif);
}

.menuTree .listEl {
	padding-left:2px;
	padding-right:2px;
}

.menuTree .listEl:before {
	content:url(img/page_white.png);
	padding-right:5px;
}

.menuTree .listEl:hover, .menuTree .insertIn {
	background-color:#DDD;
	border:1px solid gray;
	border-radius: 3px;
	padding:1px;
}

.insertAbove {
	border-top:1px dashed gray;
	padding-top:0px;
}
.insertBelow {
	border-bottom:1px dashed gray;
	padding-bottom:0px;
}

.dragger {
	z-index:999;
	background-color:#DDD;
	border:1px solid gray;
	border-radius: 3px;
	padding:1px;
	position:absolute;
}


/* Admin files */

.galleryImageAdmin {
	margin:0px; 
	padding:0px; 
	position:relative; 
	width:100%; 
	height:100%;
}

div.legend {
	float:right;
	line-height:20px;
	font-size:15px;
}
div.legend img {
	padding-top:3px;
}

div.box {
	border:1px solid black;
	padding:3px;
	text-align:left;
	font-size:15px;
}

iframe.upload {
	float:left;
	width:250px;
	height:23px;
	padding-top:4px;
	padding-bottom:4px;
}
.uploadline {
	height:18px;
}

.galleryEdit {
	position:absolute; 
	top:5px; 
	right:5px;
	
}

.galleryEdit img {
	border:1px solid gray;
	background-color:white;
	/* For some reason table.gal img has higher priority */
	padding:1px !important;
	background-position:1px 1px;
}

table.grid {
	border-collapse:collapse;
}
table.grid td,table.grid th {
	border:1px solid gray;
}

table.gal {
	border-collapse:separate;
}

table.gal img {
	margin:0px;
	padding:0px;
}

/* Admin settings */

.modulesImg {
	float:right;
	border:1px solid #CDCDCD;
}
.modulesText {
	
}
.modulesInstall {
	clear:both;
	float:right;
}
.modLink {
	color:#21759B;
	text-decoration:underline;
	cursor:pointer;
}
.modLink:hover {
	color:#ddd;
}

/**** Content element code ****/

.miniToolbar {
	width:49px;
	height:20px;
	z-index:10;
	background-image:url(img/blueAlpha.png);
	padding:2px;
	padding-bottom:4px;
	border: 1px dashed #6B77EB;
	position:absolute;
}

.contentElement {
	padding:5px;
}

.ceBorder {
	border:1px dashed #6B77EB;
	padding:4px;
}

.ceTemplate {
	border:1px solid gray;
	width:61px;
	z-index:1000;
}
.ceTemplate img {
	margin:0;
	padding:0;
}

.draggableList .ceDraggable {
}

.ceDraggable {
	min-height:16px;
}

.ceEditing {
	background-color:#F5F5F5;
	color:#4B4A4A;
	padding: 3px;
	border:1px solid #C1C3C6;
}

.ceEditing hr {
	border-color:#C1C3C6;
	background-color:#C1C3C6;
	height:0px;
}

/****** Dialog box code ******/
div#inactive {
	position: absolute;
	top:0px;
	left:0px;
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	/*background-image:url(img/bg_inactive.png);*/
}

div.dlgBox {
	background-color: #F6F8FE;
	text-align:left;
	position: fixed;
	top:10%;
	left: 50%;
	visibility: visible;
	border:1px solid black;
	z-index:999;
	border-radius:8px;
	-moz-border-radius:8px;	
	color:black;
	font-size:14px;	
}

div.dlgBox .loadingIcon {
	display: none;
	vertical-align: middle;
	margin-right: 5px; 
	margin-bottom: 2px;
}

div.dlgBox div.dlgContent {
	padding:2px;
}

div.dlgBox div.dlgTitle, div.dlgBox div.dlgTitle span {
	background-color: #07273D;
	cursor:move;
	color:white;
}

div.dlgBox div.dlgTitle {
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	
	/*border:1px solid white;*/
	padding:2px;
	padding-left:5px;
	padding-right:2px;
	font-size:15px;
}

div.dlgBox .dlgBtn {
	float:right;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*text-shadow:#1994E5 1px 1px 1px;*/
	width:15px;
	height:15px;
	color:white;
	text-align:center;
	cursor:default;
	padding:1px;
	font-size:12px;
}

div.dlgBox .dlgBtn:hover {
	border:1px solid #ccc;
	background-color:#0a3959;
	padding:0px;
}

/* Button container of the dialog */
div.dlgBox div.dlgBtnContainer {
	position:relative; 
	bottom:3px; 
	right:0;
	text-align:right;
	padding-top:15px;
	clear:both;
}


div.dlgBox hr.dlgSep {
	height:0px; 
	border-top:1px solid black; 
	background:none repeat scroll 0 0 black;
	margin:0px;
	padding:0px;
	width:100%;
	margin-bottom:10px;
}

/* E.g. used in edit image in gallery module */
.tabBox {
	float: left;
	margin-right: 0px;
	margin-left: 10px;
	background-color: #D2DCFA;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 2px;
	padding-top: 3px;
	border: 1px solid #07273D;
	border-bottom: 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

.editArea .toolbar {
	float: right;
	padding-bottom: 2px;
}

.toolbar .button {
	float: left;
	border: 1px outset gray;
	border-radius: 4px;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	background-color: #E3E3E3;
}

.toolbar .button:hover {
	border-color: silver;
	background-color: #F0F0F0;
}

.toolbar .button:active, .toolbar .button.active {
	border-style: inset;
	border-color: #BABABA;
	background-color: #D0D0D0;
}

.toolbar .button:active img.toolbarIcon, .toolbar .button.active img.toolbarIcon {
	padding-left: 3px;
}

.toolbar .button img.toolbarIcon {
	padding-top: 2px;
	padding-left: 2px;
}

.tabBox.active {
	background-color:#EDF1FD;
}

.adminstyles input, .adminstyles textarea, .adminstyles select {
	border:1px solid gray;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#555;
	background-color:white;

}
.adminstyles input[type="submit"], .adminstyles input[type="button"] {
	background-color:#F3F1ED;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}

.adminstyles input {
	padding-left:2px;
}
.adminstyles input[type="submit"]:hover, .adminstyles input[type="button"]:hover {
	background-color:#FBFAF9;
	color:#666;
	border-color:#8D8D8D;
}
.adminstyles input[type="submit"]:active, .adminstyles input[type="button"]:active {
	background-color:#E3DED5;
	color:#444;
	border-color:#696969;
}

.adminstyles input[disabled] {
	color:#AAA;
	border-color:#AAA;
}

.smallTextInput {
	width: 30px;
}

/**** Menu editing ****/

.renamePageDlgContent div.toPage {
	position:absolute;
	left:5px;
	bottom:5px;
	z-index:2;
}

.renamePageDlgContent .pglink, .addPageDlgContent .pglink {
	padding-left: 10px;
	display: none;
}

/* 'Manage files' Table style */

table.gal {  border-spacing:10px;}
table.gal td { border: 1px solid #DDD; padding:5px; text-align:center; vertical-align:middle; }
/*table.gal span { display:table-cell; text-align:center; }*/
table.gal img { vertical-align:middle; padding:0px; }
table.gal a { text-decoration: none; border:0; }

div.gallery div.pic {
	float: left;
	margin: 5px;
}

div.gallery div.pic a {
	border: 1px solid gray;
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.gallery div.pic img.thumbnail {
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

div.galleryEditor {
	padding: 5px;
	padding-left: 0px;
	padding-top: 0px;
}

div.galleryEditor .links {
	padding-bottom: 5px;
	text-align: left;
}


.galleryEditor .pic {
	/*width: 170px;
	height: 130px;*/
	float: left;
	position: relative;
	text-align: center;
}

.galleryEditor .pic img {
	/*border:3px solid #fff;*/
	padding: 0px;
	box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
}

.galleryEditor .imageHolder{
	display: inline-block;
	position: relative;
}

.galleryEditor .uploading {
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: white;
	opacity: 0.8;
	display: none;
}

.galleryEditor .pic.done .uploading {
	display: block;
}

.galleryEditor .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	/*width:100%;*/
	left: 6px;
	right: 6px;
	bottom: 6px;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

.galleryEditor .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

.galleryEditor .pic.done .progress{
	width:100% !important;
}

.editArea {
	padding: 8px;
	padding-top: 0;
}

.editArea .imageContainer {
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}

.editArea .originalImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	padding: 0;
}

.editArea img.original {
	padding: 0;
}

/********* Lightbox *********/

/*
 * FancyBox - jQuery Plugin
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='styles/default/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/* jPaginate */
.pagination {list-style:none; margin:0px; padding:0px;}  
.pagination li{float:left; margin:3px;}  
.pagination li a{   display:block; padding:3px 5px; color:#fff; background-color:#44b0dd; text-decoration:none;}  
.pagination li a.active {border:1px solid #000; color:#000; background-color:#fff;}  
.pagination li a.inactive {background-color:#eee; color:#777; border:1px solid #ccc;}  